In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bac-finance-2023/Monthly transactions.xls
/kaggle/input/bac-data-2023/Monthly transactions.csv

In [2]:

data = pd.read_csv('/kaggle/input/bac-data-2023/Monthly transactions.csv')

In [3]:
data.head()

,Transaction date,Transaction reference,Transaction codes,Description of transactions,Transaction debit,Transaction credit,Transaction balance
0,01/01/2023,123100248,CP,GESSA PERI SAN PEDRO,4950.0,0.0,733503.23
1,01/01/2023,966484497,TF,SINPE MOVIL Cervezas_y_comida,8200.0,0.0,725303.23
2,03/01/2023,10200000,CP,IVA -GOOGLE *Dario Karmel,120.9,0.0,725182.33
3,03/01/2023,10200000,CP,GOOGLE *Dario Karmel\ 650-253,930.0,0.0,724252.33
4,03/01/2023,406405421,TF,TEF DE:AMADA POMARES CRUZ,0.0,3107.0,727359.33

In [4]:
data.shape

(234, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction date              234 non-null    object
 1    Transaction reference        234 non-null    int64
 2    Transaction codes            234 non-null    object
 3    Description of transactions  234 non-null    object
 4    Transaction debit            234 non-null    float64
 5    Transaction credit           234 non-null    float64
 6    Transaction balance          234 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 12.9+ KB

In [6]:
data.isnull().sum()

Transaction date                0
 Transaction reference          0
 Transaction codes              0
 Description of transactions    0
 Transaction debit              0
 Transaction credit             0
 Transaction balance            0
dtype: int64

In [7]:
data.describe()

,Transaction reference,Transaction debit,Transaction credit,Transaction balance
count,2.340000e+02,234.000000,234.000000,2.340000e+02
mean,5.165227e+08,19829.128120,17116.146410,4.621027e+05
std,4.094236e+08,45688.843741,77025.027867,2.417072e+05
min,8.370000e+04,0.000000,0.000000,-5.326419e+04
25%,4.150025e+07,120.900000,0.000000,2.700501e+05
50%,4.064075e+08,3450.000000,0.000000,4.960735e+05
75%,9.604587e+08,15298.750000,0.000000,6.433480e+05
max,9.704779e+08,500000.000000,1000000.000000,1.467570e+06

In [8]:
data.head()

,Transaction date,Transaction reference,Transaction codes,Description of transactions,Transaction debit,Transaction credit,Transaction balance
0,01/01/2023,123100248,CP,GESSA PERI SAN PEDRO,4950.0,0.0,733503.23
1,01/01/2023,966484497,TF,SINPE MOVIL Cervezas_y_comida,8200.0,0.0,725303.23
2,03/01/2023,10200000,CP,IVA -GOOGLE *Dario Karmel,120.9,0.0,725182.33
3,03/01/2023,10200000,CP,GOOGLE *Dario Karmel\ 650-253,930.0,0.0,724252.33
4,03/01/2023,406405421,TF,TEF DE:AMADA POMARES CRUZ,0.0,3107.0,727359.33

In [9]:
data.columns

Index(['Transaction date', ' Transaction reference', ' Transaction codes',
       ' Description of transactions', ' Transaction debit',
       ' Transaction credit', ' Transaction balance '],
      dtype='object')

In [10]:
data = data.rename(columns={'Transaction date': 'Transaction_date',
                        ' Transaction reference': 'Transaction_reference',
                        ' Transaction codes': 'Transaction_codes',
                        ' Description of transactions': 'Description_of_transactions',
                        ' Transaction debit': 'Transaction_debit',
                        ' Transaction credit': 'Transaction_credit',
                        ' Transaction balance ': 'Transaction_balance'})

data.columns

Index(['Transaction_date', 'Transaction_reference', 'Transaction_codes',
       'Description_of_transactions', 'Transaction_debit',
       'Transaction_credit', 'Transaction_balance'],
      dtype='object')

In [11]:
youtube_transactions = data[data["Description_of_transactions"].str.contains("YouTube")]
youtube_transactions["Transaction_debit"].sum()

21413.5

In [12]:
data.head()

,Transaction_date,Transaction_reference,Transaction_codes,Description_of_transactions,Transaction_debit,Transaction_credit,Transaction_balance
0,01/01/2023,123100248,CP,GESSA PERI SAN PEDRO,4950.0,0.0,733503.23
1,01/01/2023,966484497,TF,SINPE MOVIL Cervezas_y_comida,8200.0,0.0,725303.23
2,03/01/2023,10200000,CP,IVA -GOOGLE *Dario Karmel,120.9,0.0,725182.33
3,03/01/2023,10200000,CP,GOOGLE *Dario Karmel\ 650-253,930.0,0.0,724252.33
4,03/01/2023,406405421,TF,TEF DE:AMADA POMARES CRUZ,0.0,3107.0,727359.33

In [13]:
data[data["Description_of_transactions"].str.contains("SMARTFIT")]

,Transaction_date,Transaction_reference,Transaction_codes,Description_of_transactions,Transaction_debit,Transaction_credit,Transaction_balance
5,04/01/2023,10300248,CP,SMARTFIT EC,21762.30,0.0,705597.03
52,03/02/2023,20200248,CP,SMARTFIT EC,20822.40,0.0,653365.60
97,04/03/2023,30300248,CP,SMARTFIT EC,20352.45,0.0,478189.18
159,06/04/2023,40500248,CP,SMARTFIT EC,19774.05,0.0,442369.75
213,03/05/2023,50200248,CP,SMARTFIT EC,20027.10,0.0,47596.86

In [14]:
spend_sum = data["Transaction_debit"].sum()
print("Money spend: ",spend_sum )

Money spend:  4640015.9799999995

In [15]:
max_debit = data["Transaction_debit"].max()

# Filter the dataframe to only include rows where the "Transaction_debit" value is equal to the max value
max_debit_rows = data[data["Transaction_debit"] == max_debit]

# Print the rows that have the max "Transaction_debit" value
print(max_debit_rows)

    Transaction_date  Transaction_reference Transaction_codes  \
131       25/03/2023              406403785                TF

         Description_of_transactions  Transaction_debit  Transaction_credit  \
131   TEF A : 931983548                        500000.0                 0.0

     Transaction_balance
131             967570.4